*{
    font-family: "courier new";
    /* background-color: rgb(0, 210, 0);  */
}

h3{
    color:purple;
}

h1{
    color:#b92b97
}

#login{
    background-color: white;
    color: #f40909;
}
#signup{
    background-color: #b92b27;
    color: white;
}

.upvote{
    background-color: green;
}

/* descendant selector */

nav a{
    color: #f40909;
}

p a {
    color :purple;
    background-color: yellow;
}

p +h3 {
    text-decoration:  navy underline;
}

.upvote+ button{
    background-color: aqua;
    color:red ;
}

div>input{
    background-color: darksalmon;
    
}

input[type="text"]{
    color:green;
}
input[type="password"]{
    color:red
}

input[type]{
    background-color: ghostwhite;
}

button:hover{
    background-color: black;
    color: white;
}

/* /* psedo elements* */
h3:hover{
    text-decoration: overline;
    color: red;
} 

button:active{
    background-color: hotpink;
    color:blue;
}

p:active{
    color: red;
    font-weight: bold;
}

div:nth-of-type(2){
    background-color: blanchedalmond;
}

h1::first-letter{
    color:red;
}

p::first-line{
    color:blue;
}

p::selection{
    background-color: rgb(246, 246, 12);

}