.box{
    height: 100px;
    width: 300px;
    background-color: pink;

    animation-name: fontAnimation;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction:normal ;
}

@keyframes fontAnimation{
    from{font-size:20px;}
    to{font-size:40px;}
}