.face{
    height: 400px;
    width: 400px;
    background-color:#ffa511;
    border-radius: 50%;
}

.mouth{
    width: 200px;
    height: 80px;
    background-color: #ff3f0f;
    border-radius: 0 0 50px 50px;
    position: absolute;
    top: 250px;
    left: 100px;

}

.left-eye,.right-eye{
    height: 60px;
    width: 60px;
    background-color: #000000;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 100px;
    left: 100px;
}
.right-eye{
    left: 250px;
}